<!-- Flash Messages -->
<div>
  <% flash.each do |key, value| %>
    <div>
      <a style = "font-size:30px;" class = "lead alert fade in" href="#" data-dismiss="alert">× <%= value %></a>
    </div>
  <% end %>
</div>

<!-- Nav -->
<nav id = "home" class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" rel="home" href="#" title="BH">
        <%=image_tag("BH-logo.png",class: "logo img-responsive", size: "90x40") %>
      </a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="#">Home <span class="sr-only">(current)</span></a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#contact">Apply</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>





<!-- Profile Picture -->
<div id="mycarousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="item active">
        <%= image_tag("flatbed.jpg") %>
           <div class="carousel-caption">
             <%=image_tag("BH-Logistics-new-logo.png",class: "logo-pic fade-in img-responsive", size: "650x200") %>
            <p class = "fade-in"> Flat Bed Specialists </p>
           </div>
        </div>
    </div>
</div>


<!-- About -->
<div id= "map-container" class = "container-fluid">
  <h1 class = "module">About BH Logistics<h1>
    <hr class = "half-rule">
    <p>At BH logistics we offer effective and efficient trucking solutions. We provide:</p>
      <ul class = "container">
        <li>Experienced and Reliable Company Flatbed Drivers</li>
        <li>Regional and National Coverage</li>
        <li>Small Enough to address drivers on a personal level and large enough to attract major companies. </li>
      </ul>
    <p class = "bottom-about">See What BH logistics can do for you!
    </p>
</div>



<!-- Parallax Image -->
<div  class="parallax-window" data-parallax="scroll" data-image-src= "<%=asset_path('evening-truck-2.png')%>" data-ios-fix = "true" data-android-fix = "true" >
  <ul id = "points">
    <li>Decades of Experience</li>
    <li>Top Pay for Over the Road</li>
    <li>Large Fleet of Reliable Trucks</li>
    <li>Dependable Delievery</li>
    <li>Weekly Payouts-no holdbacks</li>
  </ul>
</div>

<!-- Map -->
<div id= "map-container" class = "container-fluid">
  <h1 class = "module">Our Headquarters<h1>
    <hr class = "half-rule">
 <div id="map" class = "container"></div>
</div>


<!-- Contact -->

<div id = "contact" class = "container-fluid">
  <%= render '/contacts/new' %>
</div>


<!-- Footer -->
<div id="footer">
    <div class="container">
      <p class="text-muted credit"><span style = "color:#23ABE2;">BH</span>Logistics &#0153</p>
    </div>
</div>