<!DOCTYPE html>
  <html>
<head>
    <title>BHlogisics</title>
    <meta name="viewport" content="initial-scale = 1.0,maximum-scale = 1.0" />
    <meta charset="utf-8">
    <meta name = "description" content = "BH Logistics the premier flat bed specialists."
    <link rel="shortcut icon" href="<%=asset_path('BH-favicon.png')%>" type="image/x-icon" />
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>
  <body id= "top">


  <%= yield %>
 <script>
    var map;
    function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: 42.484253, lng: -83.357078
        },
                     draggable: false,
                    scrollwheel: false,
                    zoom: 17
        });
        var myLatLng = {lat: 42.484253, lng: -83.357078};

        var content = "<p style= 'font-size:12px; color:black;'>25882 Orchard Lake Rd, Farmington Hills, MI 48336</p>";

        var infowindow = new google.maps.InfoWindow({
                  content: content
                  });

         var marker = new google.maps.Marker({
            position: myLatLng,
            map: map
        });
        infowindow.open(map, marker);
        marker.addListener('click', function() {
           infowindow.open(map, marker);
        });
    }
  </script>
    <!-- Use place details -->

  <script src="https://maps.googleapis.com/maps/api/js?key=<%=ENV['maps_api_key']%>&callback=initMap"
  async defer>
  </script>

  </body>
</html>
